# Include
include LICENSE
include README.md
include pyproject.toml
recursive-include canary_mlx *.py


exclude model/*
recursive-exclude model *

exclude other/*
recursive-exclude other *
exclude canary_untared/*
recursive-exclude canary_untared *
exclude *.safetensors
exclude *.ckpt
exclude *.nemo
exclude *.tar
exclude *.wav

global-exclude __pycache__
global-exclude *.py[cod]

